.experienceEdit li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 4px;
  text-align: left;
}

.experienceEdit ul {
  padding: 0;
  margin: 8px;
}

.datesEditExperience {
  display: flex;
  gap: 16px;
}

.datesEditExperience div {
  display: flex;
  flex-direction: column;
}

.experienceEdit button {
  margin-top: 8px;
  margin-bottom: 8px;
}
